{% extends "subnav_base.html" %}

{% load taggit_extras %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jobs.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jobs.js"></script>
{% endblock %}

{% block body_class %}jobs{% endblock %}

{% block subnav %}
    <h1>Jobs</h1>
    <a href="/jobs/post/" class="btn primary large">Post a Job</a>
    <a href="/jobs/search" class="btn info large">Basic Search</a>
    <div class="tags">
        <h3>Tags</h3>
        {% get_tagcloud as tags for 'jobs.Post' %}
        {% for tag in tags %}
            <a class="{{ tag }}" href="#" style="font-size: {{tag.weight|floatformat:0}}pt">{{tag}}</a>
        {% endfor %}
    </div>
{% endblock %}