{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}Jobs{% endblock %}

{% block body %}
    <div class="container-fluid">\
        <div class="sidebar">
            <div class="well">
                <h1>Jobs</h1>
                <a href="/jobs/post/" class="btn primary large">Post a Job</a>
            </div>
        </div>
        <div class="content">
            <div id="posts">
                <ul>
                    <li>{% for post in posts %}
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.description }}</p>
                    </li>{% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}